---
name: format
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - closed
permissions:
  contents: write
  pull-requests: write
jobs:
  format:
    runs-on: ubuntu-latest
    env:
      DOCKER_CMD: "node --version && npm --version"
    steps:
      - name: Generate a token
        id: generate_token
        uses: actions/create-github-app-token@0d564482f06ca65fa9e77e2510873638c82206f2 # v1.11.5
        with:
          app-id: ${{ secrets.PROJECT_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.PROJECT_AUTOMATION_PRIVATE_KEY }}
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        if: github.event_name != 'pull_request' || github.event.action != 'closed'
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
          token: ${{steps.generate_token.outputs.token}}
      - name: Get Dependabot Node.js version
        if: github.event_name != 'pull_request' || github.event.action != 'closed'
        id: get_dependabot_node_version
        run: bash "${GITHUB_WORKSPACE}/scripts/format/format/get_dependabot_node_version.sh"
      - uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
        if: github.event_name != 'pull_request' || github.event.action != 'closed'
        with:
          node-version-file: package.json
          cache: npm
      - name: Get Node.js version
        id: get_node_version
        if: github.event_name != 'pull_request' || github.event.action != 'closed'
        run: bash "${GITHUB_WORKSPACE}/scripts/format/format/get_node_version.sh"
      - name: Update versions
        if: github.event_name != 'pull_request' || github.event.action != 'closed'
        env:
          DEPENDABOT_NODE_VERSION: ${{steps.get_dependabot_node_version.outputs.node_version}}
          DEPENDABOT_NPM_VERSION: ${{steps.get_dependabot_node_version.outputs.npm_version}}
          NODE_VERSION: ${{steps.get_node_version.outputs.node_version}}
          NPM_VERSION: ${{steps.get_node_version.outputs.npm_version}}
        run: bash "${GITHUB_WORKSPACE}/scripts/format/format/update_versions.sh"
      - name: Update packages
        if: github.event_name != 'pull_request' || github.event.action != 'closed'
        run: npm install
      - if: github.event_name != 'pull_request' || github.event.action != 'closed'
        run: bash "${GITHUB_WORKSPACE}/scripts/format/format/format.sh"
      - uses: dev-hato/actions-diff-pr-management@cea263ca46759ebc8c812b8595be4df129761037 # v2.1.0
        with:
          github-token: ${{steps.generate_token.outputs.token}}
          branch-name-prefix: fix-format
          pr-title-prefix: formatを直してあげたよ！
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true
