---
name: update-gitleaks
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - closed
  push:
    branches:
      - main
permissions:
  contents: write
  pull-requests: write
jobs:
  update-gitleaks:
    runs-on: ubuntu-latest
    env:
      SAFE_CHAIN_MINIMUM_PACKAGE_AGE_HOURS: 168 # 7æ—¥
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        if: github.event_name != 'pull_request' || github.event.action != 'closed'
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        if: github.event_name != 'pull_request' || github.event.action != 'closed'
        with:
          node-version-file: package.json
          cache: npm
      - name: Install packages
        if: github.event_name != 'pull_request' || github.event.action != 'closed'
        run: |
          curl -fsSL https://raw.githubusercontent.com/AikidoSec/safe-chain/main/install-scripts/install-safe-chain.sh | sh -s -- --ci
          npm ci
      - uses: dev-hato/actions-update-gitleaks@b6790d4d1b6b50a659a680b92ddf6f072cc03993 # v0.0.99
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true
